html {
  font-size: 0.8rem;
  position: relative;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 0.8rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 0.8rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1rem;
  }
}

html, body {
  height: 100%;
}


body{
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
}

.wrapper{
  flex: 1 0 auto;
  margin-bottom: 6rem;
}
