html {
  font-size: 0.8rem;
  position: relative;
}

// html {
//   -ms-overflow-style: none;
//   overflow: -moz-scrollbars-none;
// }

// html::-webkit-scrollbar {
//   width:0 !important;
//   height: 0 !important;
// }

::selection {
  background: #868686;
  color: #fff;
}
@include media-breakpoint-up(sm) {
  html {
    font-size: 0.8rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 0.8rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1rem;
  }
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ca9f8e;
}

.wrapper {
  flex: 1 0 auto;
  margin-bottom: 6rem;
}
