.content-wrapper {
    flex: 1 0 auto;
    margin-bottom: 6rem;
    ;
}

.content-section {
    padding: 0 5%;

    &__page {
        width: 100%;
        margin-bottom: 1rem;

        &:first-child {
            margin-top: 1rem;
        }
    }
}

.chapter-row {
    background-color: $color-grey-l2;
    padding: 1rem 2rem;

    &__link {

        &,
        &:visited,
        &:link {
            color: $color-black;
            text-decoration: none;
            display: block;
            text-align: center;
        }
    }

    &__image {
        width: 12rem;
        height: 12rem;
        object-fit: cover;
    }
}

.comment-section {
    padding: 1rem 5%;
    border-bottom: 1px solid $color-grey-m3;

    &__main {
        padding: 1rem 0;
    }

    &__aside {
        padding: 1rem 2rem;
    }
}

.recommended-row {
    padding: 1rem 0;

    &__item {
        width: 20%;
    }

    &__img {
        width: 10rem;
        height: 10rem;
        object-fit: cover;
    }

    &__link {

        &,
        &:visited,
        &:link {
            color: $color-grey-d;
            text-decoration: none;
            display: block;
        }
    }
}

// SMALL SCREEN DEVICES
@include media-breakpoint-down(sm) {
    .comment-section {
        &__aside {
            display: none;
        }
    }

    .recommended-row {
        &__item {
            width: 100%;
        }

        &__item:nth-child(4) {
            display: none;
        }

        &__item:nth-child(5) {
            display: none;
        }

        &__img {
            width: 100%;
        }
    }
}

.type-rank {
    &__title {
        border-bottom: 1px solid #9b9b9b;
    }

    &__item {
        border-bottom: 1px solid #9b9b9b;
    }

    &__link,
    &__link:link,
    &__link:visited {
        text-decoration: none;
        color: #000;
    }

    &__img {
        width: 6rem;
        height: 6rem;
        object-fit: cover;
    }

    &__author {
        color: #4a4a4a;
    }



}



.banner-aside__item {
    height: 50%;
}


.section-content {
    padding: 1rem 1.5rem;
}

.content-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1rem;
}

.content-row {
    margin-bottom: 2rem;
}

.section-ad {
    cursor: pointer;
    display: block;
    margin-bottom: 2rem;
}

@include media-breakpoint-down(sm) {
    .banner-aside {
        display: none;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }

    .section-content {
        padding: 1rem 0;
    }

    .content-title {
        padding: 0 1rem;
    }

    .content-row {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}