.loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $ruru-bg-d;
  z-index: 900;
  & img {
    width: 5rem;
  }
}
.main {
  width: 70%;
  margin-left: 30%;
}

#btn-save {
  position: absolute;
  left: 15px;
  bottom: 15px;
  color: #777;
  border: 1px dashed #777;
  background: none;
  border-radius: 5px;
  font-size: 0.7rem;
  cursor: crosshair;
  &:focus {
    outline: none;
  }
}
@include media-breakpoint-down(lg) {
  .main {
    width: 100%;
    margin-left: 0;
  }

  #btn-save {
    display: none;
  }
}
