html{
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

html::-webkit-scrollbar { 
    width: 0 !important;
    height: 0 !important;
}

::selection {
    background: #868686;
    color: #fff;
}

@include media-breakpoint-down(lg) {
    .container-fluid {
        width: 100%;
    }
}



//main
.main {
    position: fixed;
    background: #fed9ca;
    padding-top: 13rem;
    font-weight: bold;
    color: #3e3e3e;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;

    &__left {
        padding-right: 3rem;
        width: 493px;
    }

    &__right {
        padding-right: 3rem;

        & span:nth-child(1) {
            font-size: 3rem;
            line-height: 2rem;
        }

        & span:nth-child(2) {}

        & a {
            color: #b77c64;
            transition: all .3s;
            text-decoration: underline;

            &:hover {
                color: #3e3e3e;
            }
        }
    }
}

.scroll {

    bottom: 105px;
    position: absolute;
    left: calc(50% - 26px);

    &__arrow {
        transform: rotate(45deg) translateY(-15px) translateX(0px);
        border-bottom: 1px solid #3e3e3e;
        border-right: 1px solid #3e3e3e;
        height: 30px;
        width: 30px;
        cursor: point;

    }
}

@include media-breakpoint-down(md) {


    .main {
        &__left {
            width: 50%;
        }

        &__right {
            margin: 2rem 0;
        }
    }

}

@include media-breakpoint-down(sm) {
    .scroll {
        bottom: 90px;
    }

    .main {
        padding: 3rem 0 6rem 0;

        &__left {
            width: 90%;
            padding-right: 0;
            margin: 0 auto;
        }

        &__right {
            width: 90%;
            padding-right: 0;
            margin: 2rem auto;
        }
    }

}

@media (max-width: 320.98px) {
    .scroll {
        bottom: 10px;
    }
}

.work {
    position: relative;
    bottom: -100vh;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #f1f1f1;

    &__web {
        width: 90%;
        margin: auto;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        cursor: pointer;
        border-radius: 25px;

        //for ie
        display: -ms-flexbox;
        -ms-flex-direction: column;

        & img {
            width: 100%;
            height: 100%; //for ie 
            border-radius: 25px;
        }

        &:hover {
            &:after {
                /*移標過去，__web:after透明度變1*/
                opacity: 1;
            }
        }

        &:after {
            content: 'learn more';
            color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 25px;
            width: 50px;
            height: 50px;
            background-color: rgba(0, 0, 0, 0.7);
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            transition: .3s ease;
            opacity: 0;

            //for ie
            display: -ms-flexbox;
            -ms-flex-pack: center;
            -ms-flex-align: center;
        }
       
    }
}


//show
.show{
    &__fullscreen {
            border:15px solid #fed9ca;        
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1000;
            background:#FFF2E6;
            overflow:scroll;
            -ms-overflow-style: none;
            overflow: -moz-scrollbars-none;
            display:none;
            &::-webkit-scrollbar {
                width: 0 !important;
                height: 0 !important;
            }
    }
    &__box{
        display: flex;
        width:90%;

    }
    &__info{
        width: 50%;
        color:#3e3e3e;
        & a{
            color:#3e3e3e;
            text-decoration: none;
            transition: 0.3s ease;
            &:hover{
                color:#CCCCCC;
            }
        }
        &__box{
            width: 70%;
            padding: 6rem 2rem 6rem 0;
        }
        &__title{
            font-size: 1.5rem;
            font-weight: bold;
        }
        &__text{
            font-size: 1.2rem;
            line-height: 1.7rem;
        }

    } 
    &__img {
        width: 60%;
        padding:6rem 0 5rem 0;
        text-align: center;
        & img{
        }
        & img:nth-child(1){
            width: 90%;
            margin-bottom:3rem;
        }
        & img:nth-child(2){
            width: 80%;
            box-shadow: 0px 0px 8px 2px #C9C9C9;
        }

     }
     &__close{
        position:fixed;
        top:50px;
        right:80px
     }       
}

.close__btn{
    cursor:pointer;
    transition: 0.3s ease;
    width: 1.5rem;
    height: 1.5rem;
    &:hover{
        opacity:0.3;
    }
    &__hide{
        display: none;
    }

}
//使用這個呼叫class 當lightbox開啟，母元素不能捲動
.lock {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
}


.scroll-row {
    flex-wrap: nowrap !important;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        display: none;
    }
}






//手機版縱向
@media (max-height: 400px) {

    //width:662px
    .main {

        &__left {
            width: 40%;
            height: 40%;
            margin: 0;
        }

        &__right {
            width: 40%;
            padding-left: 2rem;
            margin: 3rem 0;

            & span:nth-child(1) {
                font-size: 2.5rem;
            }
        }

        & div {
            flex-direction: row !important;
        }
    }

    .scroll {
        bottom: 65px;

        &__arrow {
            height: 20px;
            width: 20px;

        }
    }
}