.resume {
  width: 75%;
  margin: auto;
  .txt {
    color: #888;
    font-size:1.1rem
  }
  .box {
    width: 85%;
  }
  .top {
    display: flex;
    justify-content: space-between;
    padding-top:10rem;
    margin:0 auto 2rem;
    align-items: center;
    border-bottom: 1px solid #c5c5c5;
    padding: 2rem 0;
    & .right {
      & img {
        width: 8rem;
        border-radius: 50%;
      }
    }
  }
  .main {
    width: 100%;
    display: flex;
    margin: 0 auto 3rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid #c5c5c5;
    & .left {
      width: 30%;
      & .link::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100px;
        margin: 5rem 0;
        background-color: #c5c5c5;
      }
      & h2 {
        letter-spacing: 3px;
      }
      & .education,
      .skill {
        margin: 10rem auto 0;
        & .item {
          line-height: 2rem;
        }
      }
    }
    & .right {
      width: 70%;
      border-left: 1px solid #c5c5c5;
      padding: 0 0 0 4rem;
      & .profile,
      .experience {
        border-bottom: 1px solid #c5c5c5;
        padding-bottom: 3rem;
        & h2 {
          letter-spacing: 2px;
        }
        & h5 {
          letter-spacing: 1px;
          text-align: justify;
          line-height: 27px;
        }
      }
      & .experience {
        padding-top: 2rem;
        border-bottom: 0;
        & ul {
          padding: 0 0rem 0 2rem;
          letter-spacing: 2px;
          line-height: 30px;
        }
      }
      & .content {
        margin-top: 0.5rem;
      }
    }
  }
  
  .works {
    // margin-top: 30rem;
    margin-bottom: 10rem;
    & h2 {
      letter-spacing: 2px;
    }
    & h5 {
      letter-spacing: 1px;
      text-align: justify;
      line-height: 27px;
    }
    & .item {
      margin-top: 2.5rem;
      display: flex;
      align-items: center;
      position: relative;
      & a img {
        width: 22rem;
      }
      & div {
        padding: 0 2rem;
        & a {
          font-weight: bold;
        }
      }
      & .demo{
        position: absolute;
        right:0;
        top:8px;
      }
    }
  }
}
