$gutter-width: 30px;
$grid-num: 12;

@mixin pad {
  @media (max-width: 768px) {
    @content;
  }
}

.box {
  margin: 0.5rem 0 1rem;
}

@for $i from 1 through 22 {
  .box-#{$i} {
    & img {
      width: 100%;
    }
  }
}

.ru-row {
  display: flex;
  // margin-top: 2em;
  margin-left: -15px;
  margin-right: -15px;
  flex-wrap: wrap;
}
%col {
  padding-left: $gutter-width / 2;
  padding-right: $gutter-width / 2;
}

@for $i from 1 through $grid-num {
  .ru-col-#{$i} {
    transition: 0.5s ease;
    @extend %col;
    width: 100% * ($i / $grid-num);

    @include media-breakpoint-down(md) {
      width: 50%;
    }
    @media (max-width: 576.98px) {
      width: 100%;
    }
  }
}

.work {
  width: 100%;
  padding: 5rem 0;
  background-color: $ruru-bg-d;
  &__box {
    width: 70%;
    margin: auto;
  }
  &__img {
    cursor: pointer;
    margin-bottom: 0.5rem;
    position: relative;
    display: block;
    &::after {
      content: 'open';
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 10px;
      width: 100%;
      height: 100%;
      background: rgba(90, 67, 57, 0.9);
      color: $ruru-word-l;
      transition: 0.3s linear;
      opacity: 0;
    }
    &:hover::after {
      opacity: 1;
    }
  }
  &__title {
    font-size: 1.5rem;
    color: $ruru-word-l;
    letter-spacing: 0.2rem;
    border-bottom: 1px solid $ruru-word-l;
    padding-bottom: 0.2rem;
    padding-right: 1rem;
    &--secondary {
      color: $ruru-word-l;
      font-size: 1rem;
      margin: 2rem 0 0;
    }
  }

  &__line {
    width: 15%;
    height: 1px;
    background: $ruru-word-l;
    margin: 0.5rem 0;
  }
  &__item {
    color: $ruru-word-l;
    font-size: 1rem;
  }
  &__skill {
    color: $ruru-word-l;
    font-size: 0.8rem;
  }
}

//lightbox
.show__work {
  width: 70%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 30%;
  right: 0;
  bottom: 0;
  margin: auto;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 800;
  padding: 1rem 0;
  &--close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: 0.5s ease;
    &:hover {
      transform: rotate(180deg);
    }
    &:before,
    &:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 33px;
      width: 1px;
      background-color: white;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
  &--wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 100%;
  }
  & img {
    max-width: 100%;
    max-height: 100%;
  }
}
@include media-breakpoint-down(lg) {
  .work {
    padding: 3rem 0;
    &__box {
      width: 80%;
    }
    &__line {
      margin: 0.8rem 0 0.5rem;
    }
  }
  .box {
    margin: 0.5rem 0 1.5rem;
  }

  .show__work {
    width: 100%;
    left: 0;
  }
}

@include media-breakpoint-down(sm) {
  .work {
    &__img::after {
      display: none;
    }
  }
  .show__work--wrap {
    margin: 0 2rem;
  }
}
