$theme-colors: (
  'primary': #3b97f4,
  'secondary': #4a4a4a,
  'purple': #9013fe,
);

$grid-gutter-width: 15px;

//d=dark
//l=light
$ruru-bg-d: #ca9f8e;
$ruru-bg-m: #dbc1b7;
$ruru-bg-l: #eadcd5;

$ruru-word-d: #a68a7f;
// $ruru-word-d: #8f796c;
$ruru-word-m: #ad988c;
$ruru-word-l: #f5eee8;

$color-grey-1: #f6f6f6;
$color-grey-2: #9b9b9b;
$color-grey-3: #4a4a4a;
$color-grey-4: #dddddd;
$color-grey-5: #2d2d2d;

$color-grey-d: #4a4a4a;
$color-grey-m: #9b9b9b;
$color-grey-m2: #d8d8d8;
$color-grey-m3: #a7a7a7;
$color-grey-xl: #f5f5f5;
$color-grey-l2: #ebebeb;

$color-black: #000000;
$color-white: #ffffff;
$color-blue: #3b97f4;
$color-blue-light: #4cb5ff;
$color-navy: #2147ad;
$color-purple: #7963ff;
$color-yellow: #f5a623;
$color-turquoise: #38dece;
