.like-group {
  padding: 0 0.5rem;
  display: flex;
  color: $color-grey-m;
  font-size: 0.8rem;
  align-items: center;
  &__like-icon {
    fill: currentColor;
    width: 0.8rem;
    height: 0.8rem;
    margin-right: 5px;
  }
}