.s5-column{
  border-radius: 2.5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.09);
  background-color: $color-white;
  position: relative;
  &__link{
    @include linkNoStyle
  }
  &:not(:last-child){
    margin-bottom: 1.5rem;
  }
  &__ad-tag{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.2rem 0.5rem;
    color: $color-grey-3;
    background-color: $color-grey-4;
  }
  & > img{
    width: 100%;
  }
}