.nav-link {
    padding: 0.5rem 0.5rem;
}


.header {
    width:100%;
    padding: 2rem 0 2rem 0;
    background-color: #fed9ca;
    position: fixed;
    z-index: 2;
    transition: all .3s;

    &__logo {
        font-weight: bold;
        color: #ffffff;
        margin-left: 7rem;

    }

    &__img {
        width: 100%;
        margin-left: 1rem;
    }

    &__nav {
        display: flex;
        justify-content: center;
        padding: 0.5rem 1.5rem 0 ;
        font-size: 1.25rem;
        position: relative;

        //for ie
        display:-ms-flexbox;
        -ms-flex-pack: center;

        &--chapter {
            color: #4a4a4a;
        }
    }

    &__link {
        transition: all .3s;
        padding:0 3rem;
        font-weight: bold;


        &:visited,
        &:link {
            color: #3e3e3e;
            text-decoration: none;
            font-size: 1rem;
        }

        &:hover{
            color: #FF9970;
        }        

    }

}






@include media-breakpoint-down(sm) {
    .header {
        padding: 1rem 0 1.5rem 0;
        margin-bottom: 0;

        &__nav::after {
            display: none;
        }

        &__search {
            display: none !important;
        }

        &__logo {
            display: none !important;
        }
        &__link {
            padding:0 2rem; 
        }
    }

    .sm__title {
        display: block;
        font-size: 1.6rem;
    }

    .login {
        display: none !important;
    }


}

.heading-secondary {
    color: #4a4a4a;
    padding: 0.5rem 0;
    display: inline-block;
}