.header {
  width: 30%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: $ruru-bg-l;
  display: flex;
  justify-content: center;
  align-items: center;

  & h1 {
    color: $ruru-word-d;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  & h5 {
    color: $ruru-word-d;
    line-height: 1.3rem;
  }
  & h6 {
    margin-top: 1rem;
    color: $ruru-word-m;
  }
}

.social__link {
  margin-top: 1rem;
  & img {
    width: 1.5rem;
    margin-right: 0.5rem;
  }
}
.content-btn {
  position: absolute;
  right: 15px;
  bottom: 15px;
  color: $ruru-word-d;
  display: flex;
  align-items: baseline;
  cursor: pointer;
  transition: 0.3s ease;
  &:hover {
    opacity: 0.7;
  }
  &:hover .line {
    opacity: 0.7;
  }
  & .line {
    width: 45px;
    height: 1px;
    background: $ruru-word-d;
    margin-right: 0.5rem;
    transition: 0.3s ease;
  }
}

.nav {
  display: none;
}
@include media-breakpoint-down(md) {
  .header {
    position: relative;
    top: auto;
    left: auto;
    width: 100%;
    height: auto;
    padding: 10rem 0;
  }
  .nav {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    background: $ruru-word-d;
    padding: 0.5rem 0;
    z-index: 600;
    &-link {
      color: $ruru-word-l;
      margin: 5px 0;
      padding: 0 2rem;
      letter-spacing: 1px;
      &:not(:last-child) {
        border-right: 1px solid $ruru-word-l;
      }
      &:hover {
        color: $ruru-word-l;
      }
    }
  }
}
